@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;    
    font-family: 'Maven Pro', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #F4F4F4;
}

/* Typography */
h2 {
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
}

p {
    line-height: 24px; 
    font-size: 1.2rem;  
    margin: 0 1rem;
}

/* Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "info"
    "footer";
}

/* Header */
.header__content--desktop {
    display: none;
    grid-area: header-desk;
    width: 100%;
}

.menu--desktop {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 9999;
    background: #FFF;
}

.menu--desktop .logo__image {
    max-height: 50px;
}

.header__content--desktop ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.menu--desktop ul .menu__links {
    position: relative;
}

.menu--desktop ul .menu__links:hover {
    color: steelblue;
}

.menu--desktop ul .menu__links::after {
    content:"";
    position: absolute;
    bottom: 100%;
    left: 0;
    opacity: 0;
    height: 4px;
    width: 100%;
    background: steelblue;
}

.menu--desktop ul .menu__links:hover::after {
    opacity: 100%;
}

.header__content {
    grid-area: header;
    position: sticky;
    top: 0;
    background:steelblue;
    min-height: 4rem;
    z-index: 1000;
}

/* logo */
.header__content .logo {
    height: 40px;
    aspect-ratio: 1;
    margin-top: 1rem;
    margin-left: 1rem;
}

.header__content .logo__image {
    height: 40px;
    margin-top: 0.8rem;
}

/* Menu */
.fa-bars, .menu__checkbox[type="checkbox"] {
    position: absolute;
    top: 1rem;
    right: 1rem;    
    font-size: 1.5rem;
}

.menu__checkbox[type="checkbox"] {
    opacity: 0;
    z-index: 9999;
}

.fa-bars {
    z-index: 8999;
}

.menu {
    transform: translateY(-120%);
    transition: 450ms ease-in-out;
    position: fixed;
    inset: 0 0 0 0;  
    background: steelblue;
    box-shadow: inset 29px 29px 59px rgb(50, 97, 136);
}

input:checked ~ .menu {
    transform: translateY(0%);
    transition: 450ms ease-in-out;
}

.menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;  
    text-decoration: underline;  
    text-underline-offset: 2rem;
    padding: 0;
    background-image: url("/assets/logo/bonz.ai-logo-black_landscape.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom center;
    background-position-y: 75%;
}

.menu ul .menu__items:first-child {
    margin-top: 10vh;
}

.menu .menu__links, .menu--desktop .menu__links {    
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

.menu .menu__links:visited, .menu--desktop .menu__links:visited {
    color: #000;
}

.menu .menu__links:active, .menu--desktop .menu__links:active {
    color: rgb(151, 67, 39);
}

/* Main CTA */

.main__content {
    grid-area: main;
    background-image: url("/assets/photos/09-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.main__content h2 {
    color: rgba(255, 255, 255, 0.8);
}

.main__content--text {
    display: flex;
    flex-direction: column;
}

.main__content h2 {
    align-self: center;
}

.main__content--text--blue {
    color: rgb(147, 197, 255)
}

.main__content h2, .main__content .main__heading {
    margin: 1rem 2rem 0 2rem;
}

.main__heading {
    width: 80%;
    align-self: center;
}

.fa-angle-double-down {
    font-size: 5rem;
    align-self: center;
    color:rgba(255, 255, 255, 0.6);
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0%, 100% { color:rgba(255, 255, 255, 0.6) }
    50% { color:rgba(48, 77, 121, 0.6) }
}

/* About section */
.about__content {
    grid-area: info;
    max-width: 1000px;
    margin: 0 auto;
}

.card__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card {
    margin: 0 1rem;
    background: #abd6f1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h2 {
    margin: 0 1.5rem 0.5rem 1.5rem;
    padding-top: 1rem;
    /* font-size: 1rem; */
    font-weight: 900;
    letter-spacing: 4px;
    text-align: center;
}

.card__link {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 600;
    padding: 1rem 0;
    display: block;    
}

.card .card__image {
    max-height: 250px;
    max-width: 100%;
    display: block;
}

.card svg {
    position: absolute;
    top: 66%;
}

.food__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.food__container > * {
    max-width: 500px;
    min-height: 500px;
    aspect-ratio: 1;
}

.food__container__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.food__container .food__container__text:nth-child(1) {
    position: relative;
}

.food__container .food__container__text:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 10rem;
    height: 2rem;
    top: 98%;
    left: 25%;    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(207, 197, 197);
}

.food__container .food__container__text:nth-child(4) {
    position: relative;
}

.food__container .food__container__text:nth-child(4)::before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 2rem;
    bottom: 98%;
    right: 25%;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(207, 197, 197);
}

.food__container .food__container__image:nth-child(3) {
    margin-top: 2rem;
}

.food__container__text {
    background:rgb(207, 197, 197);
    display: flex;
    flex-direction: column;
}

.food__container__text h2 {
    margin: 2rem 2rem 1rem 2rem;
}

.food__container__text p {
    line-height: 30px;
    margin: 0 2rem 1rem 2rem;
}

.page__btn {
    font-size: 1.2rem;
    border: none;
    border-radius: 22px;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 0 auto 2rem auto;
    padding: 0.8rem 2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Footer */
.footer__content {
    grid-area: footer;
    background:rgb(136, 136, 136);
    color: rgba(63, 59, 59, 0.762);
    margin-top: 3rem;
    padding-top: 3rem;
}

.footer__content h2 {
    text-align: center;
}

.social-media__icons {
    font-size: 1.5rem;    
    display: flex;
    justify-content: center;
    gap: 1rem;    
    position: relative;
}

.social-media__icons::after {
    content: ""; 
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 0.2rem;
    background: rgba(63, 59, 59, 0.762);
}

.social-media__icons .fa {
    text-decoration: none;
    margin-bottom: 2rem;
}

.social-media__icons .fa:visited {
    color: rgba(63, 59, 59, 0.762);
}

.footer__links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.footer__links .footer__items {
    margin: 0.5rem 0;
}

.footer__links--left, .footer__links--right {
    display: flex;
    flex-direction: column;
}

.footer__links--bottom {
    justify-self: center;
}

.footer__links .footer__link {
    text-decoration: none;
}

.footer__links .footer__link, .footer__link:visited  {
    color: rgb(56, 50, 50);
}

.footer__links .footer__link:hover {
    color: rgb(43, 23, 23);
    font-weight: 600;
}

/* About page */
/* Header */
.about__header {
    grid-area: main;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.about__header img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -10;
}
.about__header section {
    background: #FFF;
    width: 75%;
    align-self: flex-end;
    border-top-left-radius: 20px;
}

.about__header h1 {
    font-size: 3rem;
    letter-spacing: 4px;
    margin: 2rem 2rem;
}

.about__header p {
    margin: 1rem 0;
    padding: 0 2rem;
}


/* About page main */
.about__main {    
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-area: info;
}

.about__main > * {
    min-height: 400px;    
}

.about__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;    
}

.about__card--text {
    display: flex;
    flex-direction: column;
    background: rgb(221, 166, 153);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    min-height: 400px;
}

.about__main h2, .about__main p {
    margin: 1rem;
}

.about__main--image {
    background-image: url("/assets/photos/01-day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
}

.about__main--stuck {
    display: none;
    height: 400px;
    max-width: 100%;
}

/* Media Queries */
@media screen and (min-width: 786px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header-desk header-desk header-desk"
        "main main main"
        "info info info"
        "footer footer footer";
    }

    .header__content {
        display: none;
    }

    .header__content--desktop {
        display: block;
    }

    .menu--desktop {
        display: flex;
    }

    .main__content {
        margin-top: 5rem;
    }

    .main__heading {
        width: 50%;
    }
    .card__container {
        flex-direction: row;
        gap: 0;
    }

    .food__container {
        flex-direction: row;
        margin: 3rem 0;
    }    
    .food__container > * {
        margin: 2rem 0;
    }

    .food__container__text {        
        transform: translateY(4rem);
    }

    .food__container .page__btn {
        margin: auto 4rem 4rem auto;
        transition: 350ms;
    }

    .food__container .page__btn:hover {
        background:rgb(50, 97, 136);
        transition: 350ms;
    }

    .card {
        flex: 1;
    }

    /* About page */
    .about__main--image {
        background-attachment: fixed;
    }

    .about__main {
        display: flex;
        flex-direction: column;
    }
    
    .about__card {
        display: flex;
        flex-direction: row;
        gap: 0;
        margin: 2rem 0;
    }
    
    .about__card article {
        flex-basis: 100%;
    }
    
    .about__main--image {
        max-width: 33%;   
    }

    .about__card--text {
        border-radius: 0;
    }

    .about__card .about__card--text:first-child {
        border-radius: 0;
        border-top-left-radius: 20px;
        position: relative;
    }

    .about__card .about__card--text:first-child::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        top: 15%;
        left: 98%;      
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .about__card .about__card--text:last-child {
        border-radius: 0;
        border-top-right-radius: 20px;
        position: relative;
    }

    .about__card .about__card--text:last-child::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        bottom: 15%;
        right: 98%;    
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .about__card:last-child .about__card--text:nth-child(2) {
        position: relative;
    }

    .about__card:last-child .about__card--text:nth-child(2)::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        top: 15%;
        right: 98%;      
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .about__card:last-child .about__card--text:nth-child(3) {
        position: relative;
    }

    .about__card:last-child .about__card--text:nth-child(3)::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        bottom: 15%;
        left: 98%;    
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .about__main--stuck {
        display: block;
        /* box-shadow: 1px 1px 20px 4px rgb(73, 50, 50); */
        box-shadow:
            3.3px 2.6px 2.3px rgba(0, 0, 0, 0.2),
            6.3px 5px 4.8px rgba(0, 0, 0, 0.182),
            9.3px 7.3px 7.4px rgba(0, 0, 0, 0.166),
            12.3px 9.6px 10.3px rgba(0, 0, 0, 0.151),
            15.5px 12.1px 13.6px rgba(0, 0, 0, 0.138),
            19.2px 15px 17.4px rgba(0, 0, 0, 0.125),
            24px 18.8px 22.1px rgba(0, 0, 0, 0.113),
            31px 24.2px 28.1px rgba(0, 0, 0, 0.098),
            43.4px 33.9px 37.1px rgba(0, 0, 0, 0.08),
            78px 61px 66px rgba(0, 0, 0, 0.052);
    }
    
    .about__card .about__main--image:first-child {
        border-top-left-radius: 20px;
        max-width: 25%;
    }
    
    .about__card .about__main--image:last-child {
        border-top-right-radius: 20px;
        max-width: 25%;
    }
    
    .about__main--stuck {
        height: 400px;
        max-width: 100%;
        margin: 2rem 0;
    }
}