@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;    
    font-family: 'Maven Pro', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #F4F4F4;
}

/* Typography */
h2 {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
}

p {
    line-height: 24px; 
    font-size: 1.2rem;  
    margin: 0 1rem;
}

label, input[type="search"] {
    font-size: 1.2rem;
}

.form select, .form input {
    font-size: 1rem;
}

/* Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
    "nav"
    "hero"
    "main"
    "footer";
}

/* Menu Navigation */
.navigation {
    grid-area: nav;
    position: sticky;
    top: 0;
    background:steelblue;
    min-height: 4rem;
    z-index: 1000;
}

.menu {
    position: fixed; 
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 4rem;     
    background: steelblue;
    box-shadow: inset 29px 29px 59px rgb(50, 97, 136);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: underline;  
    text-underline-offset: 2rem;
    transform: translateY(-120%);
    transition: 450ms ease-in-out;
    background-image: url("/assets/logo/bonz.ai-logo-black_landscape.svg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom center;
    background-position-y: 75%;
}

.navigation__logo {
    height: 40px;
    width: 40px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.navigation__logo--desktop {    
    display: none;
}

.navigation__image {
    height: 40px;
    margin-top: 0.8rem;
}

.fa-bars, .navigation__checkbox[type="checkbox"] {
    position: absolute;
    top: 1rem;
    right: 1rem;    
    font-size: 1.5rem;
}

.fa-bars {
    z-index: 8999;
}

.navigation__checkbox[type="checkbox"] {
    opacity: 0;
    z-index: 9999;
}

.navigation__checkbox:checked ~ .menu {
    transform: translateY(0%);
    transition: 450ms ease-in-out;
}

.menu__items:first-child {
    margin-top: 10vh;
}

.menu__links {    
    text-decoration: none;
    font-size: 1.2rem;
}

.menu__links:visited, .menu__links {
    color: #000;
}

.menu__links:active {
    color: rgb(24, 57, 85);
}

/* hero header */
.hero {
    grid-area: hero;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero--fixed {
    background-image: url("/assets/photos/09-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.hero--end {    
    justify-content: flex-end;
}

.hero--smaller {
    height: 65vh;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.hero h2 {
    color: rgba(255, 255, 255, 0.8);
}

.hero__text {
    display: flex;
    flex-direction: column;
}

.hero__text h2 {
    align-self: center;
}

.hero__text--blue {
    color: rgb(147, 197, 255)
}

.hero__logo {
    max-width: 330px;
    align-self: center;
}

.hero .hero__image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -10;
}

.hero .hero__text--right {
    background: #F4F4F4;
    width: 75%;
    align-self: flex-end;
    border-top-left-radius: 20px;
}

.hero .hero__text--left {
    background: #F4F4F4;
    width: 80%;
    border-top-right-radius: 20px;
}

.hero__text h1 {
    font-size: 3rem;
    letter-spacing: 4px;
    margin: 2rem 2rem;
}

.hero--smaller h1 {
    text-align: center;
}

.hero__text--right p {
    margin: 1rem 0;
    padding: 0 2rem;
}

.fa-angle-double-down {
    font-size: 5rem;
    align-self: center;
    color:rgba(255, 255, 255, 0.6);
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0%, 100% { color:rgba(255, 255, 255, 0.6) }
    50% { color:rgba(48, 77, 121, 0.6) }
}

/* Main */
.main {
    grid-area: main;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.main--form h2 {
    text-align: center;
    margin: 2rem 0;
    padding: 0 2.5rem;
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card--transparent {
    margin-top: 2rem;
}

.card--pink {
    gap: 2rem;
    margin-top: 3rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card__cards {
    margin: 0 1rem;
    background: #abd6f1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__cards--pink {
    background: rgb(221, 166, 153);
    justify-content: flex-start;
    min-height: 400px;
}

.card--form .card__cards--transparent {
    margin-bottom: 2rem;
}

.card__cards--transparent {
    background: transparent;
    border: 2px solid #000;
    display: flex;
    min-height: 400px;
    border-radius: 0;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}

.card__cards h2 {
    margin: 1rem;
    padding-top: 1rem;
    font-weight: 900;
    letter-spacing: 4px;
    text-align: center;
}

.card--pink p {
    padding: 0 1rem;
}

.card__image {
    max-height: 500px;
    max-width: 100%;
    display: block;
    margin: 1rem;
}

.card__image--fixed {
    display: none;
    background-image: url("/assets/photos/01-day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
}

.card__image--form {
        max-height: 300px;
        min-height: 200px;
}

.card__link {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: 600;
    padding: 1rem 0;
    display: block;    
}

/* Food Container */
.food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.food > * {
    max-width: 100%;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.food .food__container:nth-child(1) {
    position: relative;
    z-index: 100;
}

.food .food__container:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 10rem;
    height: 2rem;
    top: 98%;
    left: 25%;    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(207, 197, 197);
}

.food .food__container:nth-child(4) {
    position: relative;    
}

.food .food__container:nth-child(4)::before {
    content: "";
    position: absolute;
    width: 10rem;
    height: 2rem;
    bottom: 98%;
    right: 25%;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(207, 197, 197);
}

.food .food__image:nth-child(3) {
    margin-top: 2rem;
}

.food__container {
    background:rgb(207, 197, 197);
    display: flex;
    flex-direction: column;
}

.food__container h2 {
    margin: 2rem 2rem 1rem 2rem;
}

.food__container p {
    line-height: 30px;
    margin: 0 2rem 1rem 2rem;
}

/* Button */
.btn {
    font-size: 1.2rem;
    border: none;
    border-radius: 22px;
    font-weight: 900;
    letter-spacing: 5px;
    margin: 0 auto 2rem auto;
    padding: 0.8rem 2rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}


.btn--transparent {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    transition: 350ms;
}

.btn--blue {
    background: rgb(163, 185, 224);
    margin-top: 3rem;
}

/* Cheating with a-tag, since JS is next year */
.btn__link {
    align-self: center;
}

/* Footer */
.footer {
    grid-area: footer;
    background:rgb(136, 136, 136);
    color: rgba(63, 59, 59, 0.762);
    margin-top: 3rem;
    padding-top: 3rem;
}

.footer h2 {
    text-align: center;
}

.footer__social {
    font-size: 1.5rem;    
    display: flex;
    justify-content: center;
    gap: 1rem;    
    position: relative;
}

.footer__social::after {
    content: ""; 
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 0.2rem;
    background: rgba(63, 59, 59, 0.762);
}

.footer__social .fa {
    text-decoration: none;
    margin-bottom: 2rem;
}

.footer__social .fa, .footer__social .fa:visited {
    color: rgba(63, 59, 59, 0.762);
}

.footer__social .fa:hover {
    color: rgba(83, 109, 158);
}

.footer__menu {
    display: flex;
    justify-content: space-around;    
    padding: 0;
}

.footer__menu--left, .footer__menu--right {
    list-style: none;
    margin-bottom: 2rem;
}

.footer__items {
    margin: 0.5rem 0;
}

.footer__menu--left, .footer__menu--right {
    display: flex;
    flex-direction: column;
}

.footer__link {
    text-decoration: none;
}

.footer__link, .footer__link:visited  {
    color: rgb(56, 50, 50);
}

.footer__link:hover {
    color: rgb(43, 23, 23);
    font-weight: 500;
}

/* Gallery */
.gallery {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.gallery h2 {
    font-size: 1.5rem;
    margin-right: 1rem;
    text-align: center;
}

.gallery__container {    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gallery__image {
    width: 100%;
    padding: 0 1rem;
}

/* Form */
.form {
    padding: 0 1rem;
}

.form__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form, .form__container--date {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form__container--start label, .form__container--end label {
    margin-right: 0.5rem;
}

.form__container--radio, .form__container--terms {
    justify-content: flex-start;
}

.form__container--radio input {
    margin: 0.4rem;
}

.form__container p {
    font-size: 0.8rem;  
    margin-left: 0.4rem;  
}

/* Input, Label, Select */
input[type="search"] { 
    margin: 0 1rem;
    padding: 0.2rem;
}

.form__container input[type=checkbox] {
    margin-top: 5px;    
}

input[type="text"] {
    max-width: 150px;
}

/* Media Queries */
/* Smaller mobile phones */
@media screen and (max-width: 370px) {
    .hero--fixed h2 {
        font-size: 1.1rem;
    } 
}

/* Bigger mobile phones */
@media screen and (max-width: 785px) {
    .navigation .menu {
        inset: 0 0 0 0;  
    }   

    .main--full {
        max-width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 786px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "nav nav nav"
        "hero hero hero"
        "main main main"
        "footer footer footer";
    }

    /* Menu navigation */
    .navigation {
        background: #FFF;
    }

    .fa-bars, .navigation input, .navigation__logo {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;       
        padding: 1rem 2rem;
        z-index: 9999;
        background: #FFF;
        box-shadow: none;
    }

    .navigation__logo--desktop {    
        display: block;
    }    
    
    .navigation__image--desktop {
        max-height: 50px;
    }
     
    .navigation .menu {
        display: flex;
        max-height: 5rem;
        list-style: none;
        flex-direction: row; 
        text-decoration: none;  
        background-image: none;
        padding: 1rem 2rem;
        background: #FFF;
        transform: translateY(0%);
        box-shadow: none;
        position: static;  
    }

    .menu .menu__items:first-child {
        margin-top: 0;
    }

    .menu .menu__links {
        position: relative;
    }

    .menu .menu__links:hover {
        color: steelblue;
    }
    
    .menu .menu__links::after {
        content:"";
        position: absolute;
        bottom: 120%;
        left: 0;
        opacity: 0%;
        height: 4px;
        width: 100%;
        background: steelblue;
    }

    .menu .menu__links:hover::after {
        opacity: 100%;
    }

    /* Hero */
    .hero__logo {
        max-width: 600px;
        align-self: center;
    }

    /* Main */
    .main--form {
        background: #FFF;
        border-radius: 20px;
        box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.25);
    }

    /* Card */  
    .card {
        flex-direction: row;
        gap: 0;
    }

    .card--transparent {
        flex-direction: column;
        gap: 2rem;
        width: 100%;        
    } 

    .card--pink { 
        margin: 3rem 0;
    }

    .card--form {
        max-width: 60%;
        margin: 0 auto;        
    }
    
    .card__cards {
        flex: 1;
    }

    .card__cards--transparent {
        flex-direction: row;
    }

    .card__cards--pink {
        margin: 0;
    }   

    .card__cards--pink:first-child {
        border-radius: 0;
        border-top-left-radius: 20px;
        position: relative;
    }

    .card__cards--pink:first-child::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        top: 15%;
        left: 98%;      
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .card__cards--pink:last-child {
        border-radius: 0;
        border-top-right-radius: 20px;
        position: relative;
    }

    .card__cards--pink:last-child::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        bottom: 15%;
        right: 98%;    
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .card--pink:nth-child(3) .card__cards:nth-child(2) {
        position: relative;   
        border-radius: 0; 
    }

    .card--pink:nth-child(3) .card__cards:nth-child(2)::after {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        top: 15%;
        right: 98%;      
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .card--pink:nth-child(3) .card__cards:nth-child(3) {
        position: relative;
        border-radius: 0;
    }

    .card--pink:nth-child(3) .card__cards:nth-child(3)::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 10rem;
        bottom: 15%;
        left: 98%;    
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: rgb(221, 166, 153);
    }

    .card__cards--form {
        max-height: 300px;
        min-height: 200px;
    }

    .card__image {
        margin: 0;
    }   

    .card__image--transparent {
        max-width: 50%;
    }

    .card__cards--transparent:nth-child(even) .card__image {
        order: 2;
    } 
   
    .card__image--about {
        max-width: 33%;  
    }  

    .card__image--fixed {
        display: block;
        height: 400px;
        max-width: 100%;
        margin: 2rem 0;
        background-attachment: fixed;
        box-shadow:
            3.3px 2.6px 2.3px rgba(0, 0, 0, 0.2),
            6.3px 5px 4.8px rgba(0, 0, 0, 0.182),
            9.3px 7.3px 7.4px rgba(0, 0, 0, 0.166),
            12.3px 9.6px 10.3px rgba(0, 0, 0, 0.151),
            15.5px 12.1px 13.6px rgba(0, 0, 0, 0.138),
            19.2px 15px 17.4px rgba(0, 0, 0, 0.125),
            24px 18.8px 22.1px rgba(0, 0, 0, 0.113),
            31px 24.2px 28.1px rgba(0, 0, 0, 0.098),
            43.4px 33.9px 37.1px rgba(0, 0, 0, 0.08),
            78px 61px 66px rgba(0, 0, 0, 0.052);
    }
    
    .card__image--about:first-child {
        border-top-left-radius: 20px;
        max-width: 25%;
    }
    
    .card__image--about:last-child {
        border-top-right-radius: 20px;
        max-width: 25%;
    }

    /* Food container */
    .food {
        flex-direction: row;
        margin: 3rem 0;
    }    

    .food > * {
        max-width: 500px;
        min-height: 500px;
        margin: 2rem 0;
    }

    .food__container {        
        transform: translateY(4rem);
    }

    .food .food__image:nth-child(2) {
        position: relative;
    }
    
    .food .food__container:nth-child(1)::before {
        content: "";
        position: absolute;
        width: 10rem;
        height: 2rem;
        top: 82%;
        right: -75%;    
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background: #F4F4F4;
    }

    /* Button */
    .food .btn {
        margin: auto 4rem 4rem auto;
        transition: 350ms;
    }

    .food .btn:hover {
        background:rgb(50, 97, 136);
        transition: 350ms;
    }

    .btn--transparent:hover {
        background: rgba(164, 194, 224, 0.5); 
        box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);       
        transition: 350ms;
    }  
 
    /* Gallery */
    .gallery__image {
        width: 30%;
        opacity: 70%;
        filter: blur(1px);
    }

    .gallery__image:hover {
        opacity: 100%;
        filter: blur(0);
    }
  
    .gallery {
        flex-direction: row;
    }
      
    .gallery__container {    
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* Form */
    .form {
        padding: 3rem 2rem;
    }

    .form__container--date {
        flex-direction: row;
    }

    .form__container--start {
        margin-right: 2rem;  
    }   

    /* Input */
    input[type="text"] {
        max-width: none;
    }
}